
N8N_HOST_PORT=5679

N8N_HOST=n8n.scca.site 

N8N_PROTOCOL=https

WEBHOOK_URL=https://n8n.scca.site/

# Clave de cifrado para credenciales guardadas en n8n (genera una aleatoria y consérvala)
# Puedes generarla con: openssl rand -hex 32
N8N_ENCRYPTION_KEY=84kjYjfRpx3dTYPucDEV4n12tfg3D

# Autenticación básica de acceso a la interfaz
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=!admintics123

# Zona horaria
GENERIC_TIMEZONE=America/Lima

